.hummingbird-popover,
.hummingbird-popover *
{
    list-style: none;
    font-size: 20px;
    line-height: 24px;
}

.hummingbird-popover label {
    font-weight: normal;
}


.hummingbird-popover input[type=checkbox] {
    width : 16px;
    height :16px;
    padding: 0px;
    margin: 0px;
}

.hummingbird-popover ul:not(.hummingbird-base) {
    display: none;
}

.hummingbird-popover .fa {
    font-style: normal;
    cursor: pointer;
}

